<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Dudley and Rachael's Wedding</title>
    <meta name="description" content="Dudley Dickerson and Rachael Robertson are getting married in June of 2018. Join us for one of the most memorable days of our lives!">
    <meta name="author" content="Dudley Dickerson">
    <meta name="expires" content="never">
    <meta name="distribution" content="global">
    <meta name="locale" content="en_US">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/afb5db4e40.js"></script>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="essentials.css">
    <link rel="stylesheet" href="home.css"> 
</head>
<body>
    <div class="websiteContainer">
        <div class="navigation">
            <div class="navbar">
                <nav class="nav-main">
                    <ul class="nav-list" align="center">
                        <li class="mega-menu"><a href="https://goo.gl/forms/BxlOhk87KyQ7zWtP2" target="_blank">RSVP</a></li>
                        <li class="mega-menu" style="margin: 0px 0px 0px 15px;"><a href="#faqs">FAQs</a></li>
                        <li class="mega-menu"><a href="#registry">Registry</a></li>
                        <li class="mega-menu"><a href="#countdowns">Countdown</a></li>
                    </ul>
                </nav>
                <nav class="nav-menu">
                    <a class="menu mobile-rsvp" href="https://goo.gl/forms/BxlOhk87KyQ7zWtP2" target="_blank">RSVP</a>
                    <a class="menu hamburger" onclick="toggleDropdown()"><i class="fa fa-bars"></i>Menu</a>
                    <ul id="menu-toggle" class="sidebar-menu">
                        <li class="sub-menu"><a href="https://goo.gl/forms/BxlOhk87KyQ7zWtP2">RSVP</a></li>
                        <li class="sub-menu"><a href="#faqs">FAQs</a></li>
                        <li class="sub-menu"><a href="#registry">Registry</a></li>
                        <li class="sub-menu"><a href="#countdowns">Countdown</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="homepageContainer">
                <section class="top-photo">
<a class="arrow bounce" href="#arrow-scroll"></a>
</section>
<div id="arrow-scroll"></div>
                <!-- <section class="RSVP" id="rsvp" style=>
                    <form action="" class="row">
                        <p class="form-header">RSVP Now!</p>
                        <div class="col-md-12 col-sm-12"><input name="name" type="text" placeholder="Name (Individual or Family)" required></div>
                        <div class="col-md-6 col-sm-12"><input name="guests" type="number" placeholder="Number of Guests" required></div>
                        <div class="col-md-6 col-sm-12"><input name="password" type="text" placeholder="Password" required></div>
                        <p class="form-family col-md-12">Will Your Family Be There?</p>
                        <div class="btn-block" align="center">
                            <div class="form-btn" id="yes-btn" ng-click="">YES</div>
                            <div class="form-btn" id="no-btn" ng-click="">NO</div>
                        </div>
                    </form>
                </section> -->
                <div class="annabella">
<div><div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">Pre-Wedding</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')" id="defaultOpen">Wedding</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Post-Wedding</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
                </div>
                <section class="faqs" id="faqs">
                    <h2 class="faq-title">Frequently Asked Questions</h2>
                    <div class="faq-cont">
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question" style="border: none;"><p class="quest-txt">Question:</p> When will the wedding be held?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> June 8, 2018 at 5:30pm</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> Where will the the ceremony and reception be?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> Both the ceremony and the reception will be at Annabella of Cedar Glen in Huntsville, AL.</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> Will food and drink be served at the reception?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> Food and drink will be provided. We will also be providing wine and champagne.</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> What's the dress code?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> Semi-formal mostly. It's a summer, outdoors wedding in Alabama, so button-downs and dresses are just fine.</p></div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> Where and when did y'all meet?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> We met in the dining hall of Berry College, were we both went to college, in 2015. We met through mutual friends, started talking, and the rest is history.</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> How long have y'all been together?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> We got together on April 10th of 2015. By the time of the wedding, we will have been together for 3 years.</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> How did the proposal go?</div>
                                <div class="faq-answer">
                                    <div class="row">
                                        <div class="proposal-perspective col-sm-12 col-md-6"><p class="ans-txt">His Perspective:</p> sgfrgsrefg</div>
                                        <div class="proposal-perspective col-sm-12 col-md-6"><p class="ans-txt">Her Perspective:</p> sgfrgsrefg</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> Where will yall be honeymooning?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> Costa Rica</div>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="question">
                                <div class="faq-question"><p class="quest-txt">Question:</p> What are yalls plans after the honeymoon?</div>
                                <div class="faq-answer"><p class="ans-txt">Answer:</p> We plan to live in Birmingham after we get married. We have already gotten an apartment, and Dudley already has a stable job there as well. Rachael will be out on the job search, if she does not have something lined up already after graduating from Berry College. We are looking to travel to quite a few destinations in the US and around the world if we can. We would like to move to Chatanooga within the next few years.</div>
                            </div>
                        </div>
                    </div>
                </section>
                </section>
                <section class="registry" id="registry">
                    <div class="registry-shadow">
                        <div class="registry-cont">
                            <div class="registry-top-text">
                                <h2 class="registry-title">Registry</h2>
                                <p class="registry-text">By popular demand, here is a place to support us as we begin our journey as a married couple. Listed below are two stores where we are registered, and you can purchase gifts directly from our online registry at both of them. All sorts of gifts are very much appreciated, large or small.</p>
                            </div>
                            <div class="registry-stores">
                                <a class="store transition" target="_blank" href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544671648&eventType=Wedding&pwsurl=">Bed Bath & Beyond</a>
                                <a class="store transition" target="_blank" href="https://www.target.com/gift-registry/giftgiver?registryId=2d70e579cd83429f9296ecfe9d4a336a">Target</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="counters row" id="countdowns">
                    <div class="rsvp-container col-md-12">
                        <div class="counter-inner-square rsvp-box col-md-4 col-sm-12">
                            <div class="counter-container">
                                <div class="rsvp-counter">0</div>
                                <p class="counter-text">People coming so far!</p>
                            </div>
                        </div>
                    </div>
                    <div class="countdown-container col-md-12">
                        <div class="counter-inner-square countdown-box col-md-4 col-sm-12">
                            <div class="rsvp-counter" id="countdown"></div>
                            <p class="counter-text">days until the big day!</p>
                        </div>
                    </div>
                </section>
            </div>
        <footer class="footer">
            <center class="writtenBy">Website designed and developed by Dudley Dickerson with suggestions from my lovely fiancé Rachael Robertson.</center>
        </footer>
    </div>
</body>
<script type="text/javascript" async>
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>
<script type="text/javascript" async>
var countDownDate = new Date("June 8, 2018 17:30:00").getTime();
var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    document.getElementById("countdown").innerHTML = "- " + days + " -";
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
<script type="text/javascript" async>
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
</script>
</html>