<!DOCTYPE html>
<html ng-app="WebApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title ng-bind="ngMeta.title"></title>
    <meta name="description" content="{{ngMeta.description}}">
    <meta name="author" content="{{ngMeta['author']}}">
    <meta name="expires" content="never">
    <meta name="distribution" content="global">
    <meta name="locale" content="en_US">

    <!-- Angular --> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/0.3.9/ngMeta.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/afb5db4e40.js"></script>

    <script rel="text/javascript" src="scripts/navbar.js"></script>
    <script rel="text/javascript" src="scripts/main.js"></script>
    <script rel="text/javascript" src="scripts/factories.js"></script>
    <script rel="text/javascript" src="scripts/controllers.js"></script>
    <!--<script rel="text/javascript" src="scripts/meta.js"></script>-->
    <link rel="stylesheet" href="styles/css/global.css">
    <link rel="stylesheet" href="styles/css/navbar.css">
    <link rel="stylesheet" href="styles/css/footer.css">
    <link rel="stylesheet" href="styles/css/essentials.css">
    <link rel="stylesheet" href="styles/css/home.css">


    <!--<link href="support/plugins/countdown/presets/tick.css" rel="stylesheet">
    <link href="support/plugins/countdown/presets/preset.css" rel="stylesheet">-->
    
</head>
<body>
    <div class="websiteContainer">
        <div class="navigation">
            <div class="navbar">
                <nav class="nav-main">
                    <ul class="nav-list">
                        <li class="mega-menu"><a ng-click="goToHomeView()">Home</a></li>
                        <li class="mega-menu"><a href="#" data-toggle="modal" data-target="#RSVP">RSVP</a></li>
                        <li class="mega-menu"><a href="#">More Info</a></li>
                        <li class="mega-menu">
                            <div class="dropdown-container">
                                <a href="" class="dropbtn">Photos</a>
                                <ul class="dropdown-content">
                                    <li><a class="dropdown-text">Engagement</a></li>
                                    <li><a class="dropdown-text">Wedding</a></li>
                                    <li><a class="dropdown-text">Honeymoon</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mega-menu">
                            <div class="dropdown-container">
                                <a href="" class="dropbtn">Registry</a>
                                <ul class="dropdown-content">
                                    <li><a class="dropdown-text">Bed Bath & Beyond</a></li>
                                    <li><a class="dropdown-text">Target</a></li>
                                    <li><a class="dropdown-text">Walmart</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mega-menu"><a href="#">Guest List</a></li>
                        <li class="mega-menu"><a ng-click="goToAboutUs()">About Us</a></li>
                        <li class="mega-menu"><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <nav class="nav-menu"> <!--   Mobile Menu    -->
                    <a class="menu" onclick="toggleDropdown()"><i class="fa fa-bars"></i>Menu</a>
                    <ul id="menu-toggle" class="sidebar-menu">
                        <li class="sub-menu"><a href="#">Home</a></li>
                        <li class="sub-menu"><a href="#">More Info</a></li>
                        <li class="sub-menu"><a href="#" data-toggle="modal" data-target="#RSVP">RSVP</a></li>
                        <li class="sub-menu"><a href="#">Photos</a></li>
                        <li class="sub-menu"><a href="#">Registry</a></li>
                        <li class="sub-menu"><a href="#">Guest List</a></li>
                        <li class="sub-menu"><a href="#">About Us</a></li>
                        <li class="sub-menu"><a href="#">Contact Us</a></li>
                    </ul> <!-- end .sidebar-menu -->
                </nav> <!-- end .nav-menu -->
            </div>
        </div>
        <div class="mainContentContainer" ng-view></div>
        <footer class="footer">
            <center class="writtenBy">Website designed and developed by Dudley Dickerson with suggestions from my lovely fiancé Rachael Robertson.</center>
        </footer>
    </div>
    <script src="support/plugins/countdown/presets/tick.js"></script>
</body>
</html>