nav {
    font-size: 14px;
    color: #ffffff;
    line-height: 1em;
    text-decoration: none;
}
.mainContentContainer {
    background-color: #1C1C1C;
    font-size: 14px;
    color: #ffffff;
    line-height: 1em;
    text-decoration: none;
    /*padding: 2%;*/
}
footer {
    background-color: #1C1C1C;
    font-size: 14px;
    color: #ffffff;
    line-height: 1em;
    text-decoration: none;
}
li {
    list-style-image: none;
    list-style-type: none;
}
p {
    margin: 0px;
}
#pad0 {
    padding: 0px;
}
.row {
    margin: 0px;
    padding: 0px;
}
.red {
    background: #E60021;
}
.hidden {
    display: none;
}