/*  Globals
*************************************************/
.homepageContainer .row {
    margin: 0px
}
.RSVP, .info-snippets {
    z-index: 998;
    position: relative;
    background-color: #636363;
    width: 100%;
    height: 150px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 12px #ffffff;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    .info-snippets {
        height: 100%;
    }
}

@media (max-width: 425px) {
    
}


/*  Top Photo
*************************************************/
.top-photo {
    background-image: url('../../support/images/carousel/carousel-tree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center center;
    height: 750px;
    width: 100%;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    .top-photo {
        height: 500px;
    }
}

@media (max-width: 425px) {
    
}

/*  RSVP
*************************************************/
.RSVP {
    float: left;
}
.homepageContainer .RSVP form {
    position: relative;
    top: -120px;
    width: 90%;
    max-width: 500px;
    position: relative;
    background: #252525;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 12px #ffffff;
    padding: 30px;
    margin: 0 auto;
}
.RSVP .form-header {
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding: 0px 0px 25px 0px;
    margin-bottom: 25px;
}
.form-label {
    font-size: 16px;
    line-height: 16px
}
.RSVP input {
    z-index: 998;
    position: relative;
    width: 100%;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    border: 3px solid #636363;
    padding: 10px;
    margin-bottom: 15px;
}
.RSVP .btn-block {
    margin: 0 auto;
}
.RSVP .form-family {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 20px 0px 10px 0px;
}
.RSVP .form-btn {
    display: inline-block;
    width: 120px;
    max-height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.RSVP .form-btn:hover { 
    width: 130px;
}    
.RSVP #yes-btn {
    background: #901b1b;
    font-weight: 700px !important;
    box-shadow: 0 0 12px #ffffff;
}
label {
    font-size: 16px;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin: 20px 0px 10px -10px
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    .RSVP input {
        width: 100%;
    }
}

@media (max-width: 425px) {

}

/*  Annabella
*************************************************/
/*.annabella {
    height: 750px;
    background-image: url('../../support/images/annabella1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {

}*/

/*  Engagement Carousel
*************************************************/
.carousel-inner .item .engage-slide {
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.engage-slide-1 {
    background-image: url('../../support/images/carousel/carousel-creek.jpg');
}
.engage-slide-2 {
    background-image: url('../../support/images/carousel/carousel-cuddles.jpg');
}
.engage-slide-3 {
    background-image: url('../../support/images/carousel/carousel-hands.jpg');
}
.engage-slide-4 {
    background-image: url('../../support/images/carousel/carousel-ring.jpg');
}
.engage-slide-5 {
    background-image: url('../../support/images/carousel/carousel-swing.jpg');
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {
    .carousel-inner .item .engage-slide {
        height: 500px;
    }
}


/*  Info Snippets
*************************************************/

.info-container {
    z-index: 998;
    position: relative;
    top: -40px;
    max-width: 1100px;
    margin: 0 auto;
}
.info-img {
    z-index: 999;
    position: relative;
    max-width: 425px;
}
.cards {
    position: relative;
    top: -50px;
}
.card-content {
    border: 2px solid #ffffff;
    background: #000000;
    box-shadow: 0 5px 15px 1px black;
    border-radius: 5px;
}
.offset {
    margin: 15px 0px 0px 0px
}
.card-content .card-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    border-radius: 5px 2px 0px 0px;
}
.card1 {
    background-image: url('../../support/images/annabella1.jpg')
}
.card2 {
    background-image: url('../../support/images/annabella2.jpg')
}
.card3 {
    background-image: url('../../support/images/annabella3.jpg')
}
.card-content .card-text {
    padding: 25px;
    text-align: center;
    font-size: 3em;
}
.card-info i {
    margin-bottom: 15px;
}
.card-info p {
    font-size: 30px;
    line-height: 30px;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {
    .info-container {
        top: 0px;
    }
    .info-img {
        max-width: 320px;
        padding: 0px;
    }
}

/*  Proposal
*************************************************/
.homepageContainer .proposal {
    /*height: 600px;*/
    background-image: url(http://www.ubackground.com/_ph/12/163308756.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #636363;
    padding: 100px 0px;
}
.proposal .proposal-box {
    /*height: 460px;*/
    width: 80%;
    max-width: 800px;
    background-color: #252525;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
    border: 10px solid rgb(255, 255, 255);
    border: 10px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
/*.proposal .proposal-outline {
    width: 79%;
    max-width: 840px;
    height: 500px;
    border: 20px solid rgba(255, 255, 255, 0.4);
    opacity: 0.5;
    padding: 30px;
    margin: 0 auto;
}*/
.proposal .proposal-slide {
    width: 100%;
    height: 470px;
}
.proposal .container {
    position: relative;
    top: -430px;
    left: -130px;
    width: 700px;
    padding: 0px;
    margin: 0px;
}
.proposal .carousel-caption {
    width: 100%;
    height: 100%;
}
.proposal .proposal-title {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding: 20px;
    margin-bottom: 50px;
}
.proposal .proposal-story {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {

}

/*  Meet The Crew
*************************************************/
.homepageContainer .meet-the-crew {
    position: relative;
    z-index: 997;
    height: 750px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 12px #ffffff;
}
.meet-the-crew .bios {
    height: 100%;
    background-color: #252525;
    padding: 0px;
}
.meet-the-crew .crew-overlay {
    z-index: 500;
    position: absolute;
    padding: 0px;
}
.meet-the-crew .meet-the-couple {
    background: #252525;
    height: 371px;
    padding: 0px;
}
.meet-the-crew .crew-overlay .row {
    height: 100% !important;
}
.meet-the-crew .meet-the-people {
    height: 375px;
}
.meet-the-crew .bridesmades {
    background: #636363;
    height: 100%;
}
.meet-the-crew .groomsmen {
    background: #aaa;
    height: 100%;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {

}

/*  Counters
*************************************************/
.counters {
    z-index: 100;
    position: relative;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0px 0px 12px #ffffff;
}
.counters .rsvp-container, .counters .countdown-container {
    padding: 100px 50px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.counters .counter-inner-square {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    padding: 5% 1%;
}
.counters .rsvp-container {
    background-image: url('../../support/images/carousel/carousel-creek.jpg');
    border-bottom: 2px solid white;
}
.counters .countdown-container {
    background-image: url('../../support/images/carousel/carousel-cuddles.jpg');
}
.counters .countdown-box {
    float: right;
}
.counters .counter-container {
    width: 100%;
    height: 100%;
}
.counters .counter-text {
    font-size: 24px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.counters .rsvp-counter {
    display: flex;
    justify-content: center;
    font-size: 130px;
    line-height: 130px;
    padding: 0px 0px 10px 0px;
}
/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {

}


/*  Registry
*************************************************/
#pad0 .homeBoxes .homeBox {
    padding: 45px 0px;
    vertical-align: middle;
}
.homeBox i {
    font-size: 1.7em;
    margin-bottom: 5px;
}

#pad0 .homeBoxes .homeBoxLarge {
    padding: 0em;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeBoxes #annabella-1 {
    background-image: url('../../support/images/annabella1.jpg');
}
.homeBoxes #annabella-2 {
    background-image: url('../../support/images/annabella2.jpg');
}
.homeBoxes #annabella-3 {
    background-image: url('../../support/images/annabella3.jpg');
}
.homeBoxes #annabella-4 {
    background-image: url('../../support/images/annabella4.jpg');
}
.homeBoxes img {
    max-height: 176px;
}
.red {
    background: #E60021;
}
.homeBoxes .homeBoxTextContainer {
    display: block;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.1;
}
.homeBoxTextContainer .homeBoxIcon {
    font-size: 4.0em;
    margin-bottom: 10px;
}
section .row {
    margin: 0px;
}
/* Responsive */
@media (min-width: 992px) {
    .homeBoxLarge {
        height: 176px;
    }
}    

@media (max-width: 991px) { 
    #pad0 .homeBoxes .homeBox, .homeBoxLarge {
        height: 246px;
        padding: 80px 0px;
    }
    .homeBoxes img {
        height: 246px;
    }
}
@media (max-width: 768px) { 
    .homeBox .homeBoxTextContainer .fa {
        font-size: 1em;
        margin-bottom: 0px;
    }
    .homeBoxes .homeBoxTextContainer {
        height: 100%;
        border-bottom: 1px solid #ffffff;
        padding: 2em;
    }
    #pad0 .homeBoxes .homeBox {
        padding: 0px;
    }
}
@media (max-width: 425px) {
    #pad0 .homeBoxes .homeBox {
        height: 100%;
    }
    .homeBoxes .homeBoxTextContainer {
        text-align: left;
    }
}


/*  FAQ
*************************************************/



/* Responsive*/
@media (min-width: 992px) {
    
}    

@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
}

@media (max-width: 425px) {

}
