nav ul {
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
nav .mega-menu:hover, .nav-menu:hover, .sub-menu:hover {
    background-color: rgba(9, 17, 115, 0.7);
    -webkit-transition: width 2s;
    transition: width 2s;
}
nav i {
    margin-right: 10px;
}
.navigation {
    width: 100%;
    color: #ffffff;
}
nav .sub-menu {
    display: block;
    height: 30px;
}
.show-dropdown {
    display:block;
    z-index: 998;
    position: absolute;
    top: 60;
    right: 0;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    box-shadow: -3px 0 4px rgba(0,0,0,0.7);
}
.nav-graphic img {
    max-width: 250px;
    z-index: 1000;
    position: absolute;
    top: 30px;
    left: 100px;
    border-radius: 10px;
    border: 5px solid #000000;
}
.navigation .navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}
.navbar nav {
    float: right;
    display: inline-block;
}
.dropdown-content {
    display: none;
    z-index: 998;
    position: absolute;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    margin: -1px 0px 0px -16px;
    padding: 0px;
}
.dropdown-content li {
    display: block;
}
.dropdown-container:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    margin: 0px;
    padding: 0px 15px;
}
.nav-list li:hover, .dropdown-container:hover .dropbtn {
    background-color: rgba(9, 17, 115, 0.7);
}
.navbar .mega-menu, .nav-menu {
    position: relative;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    padding: 0px 15px;
    border-left: 1px solid #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: -5px;
}
nav .menu-container {
    position: relative;
    display: inline-block;
    width: 70px;
}
.nav-menu .sidebar-menu {
    display: none;
}
.nav-menu .sub-menu {
    padding: 5px 25px;
    height: 30px;
}
.sub-menu a {
    position: relative;
    top: -15px;
}
@media (min-width: 992px) { 
    .nav-menu .nav-list {
        display: inline-block;
    }
    .nav-menu .menu, .menu .sidebar-menu {
        display: none;
        border: none;
        width: 0px;
    }
}
@media (max-width: 991px) { 
    .nav-main .nav-list {
        display: none;
    }
    .nav-menu .menu, .sidebar-menu {
        display: block;
    }
    .nav-menu .sub-menu {
        padding: 30px;
    }
    .sub-menu a {
        top: -30px;
    }
}




/*.navbar {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}
.topNav {
    height: 0px;
    background: #7d7e7d;
}
.topNav .navGraphic img {
    max-height: 180px;
    float: left;
    position: relative;
    z-index: 100;
    top: 10px;
    left: 34%;
    right: 50%;
}
.topNav .counterContainer {
    float: right;
    margin-top: -12px;
}
.counterContainer .counterImage {
    max-height: 135px;
}
.bottomNav {
    height: 233px;
    font-weight: 700;
    border-bottom: 1px solid #999999;
    background: #7d7e7d;
    background: -webkit-linear-gradient(#7d7e7d 0%, #1C1C1C 100%);
    background: -moz-linear-gradient(#7d7e7d 0%, #1C1C1C 100%);
    background: -o-linear-gradient(#7d7e7d 0%, #1C1C1C 100%);
    background: linear-gradient(#7d7e7d 0%, #1C1C1C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
.bottomNav .navLinksContainer {
    width: 62%;
    margin: 0px 19%;
    display: inline-block;
}
.navLinksContainer .navLinks a {
    padding: 16px 15px 16px 15px; 
}
.navLinksContainer .navLinks a:hover {
    color: #c31717;
    background-color: transparent;
}
.dropdown .dropdownList {
    width: 200px;
    background-color: #1C1C1C;
    border: 1px solid #999999;
}
.dropdownList.dropdown-menu .dropdownListItems a {
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    line-height: 1em;
    text-align: left;
    text-decoration: none;
    padding: 15px 20px;
}
.dropdownList.dropdown-menu .dropdownListItems a:hover {
    color: #c31717;
    background-color: #1C1C1C;
}*/