nav ul {
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
/*nav .mega-menu:hover, .nav-menu:hover, .sub-menu:hover {
    background-color: rgba(9, 17, 115, 0.7);
    -webkit-transition: width 2s;
    transition: width 2s;
}*/
nav i {
    margin-right: 10px;
}
.navigation {
    width: 100%;
    color: #ffffff;
}
nav .sub-menu {
    display: block;
    height: 30px;
}
.show-dropdown {
    display:block;
    z-index: 998;
    position: absolute;
    top: 60;
    right: 0;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    box-shadow: -3px 0 4px rgba(0,0,0,0.7);
}
.nav-graphic img {
    max-width: 250px;
    z-index: 1000;
    position: absolute;
    top: 30px;
    left: 100px;
    border-radius: 10px;
    border: 5px solid #000000;
}
.navigation .navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: #000000;
    background-size: cover;
border-bottom: 2px solid #ffffff;
border-radius: 0px !important;
    box-shadow: 0px 0px 5px #ffffff;
}
.dropdown-content {
    display: none;
    z-index: 998;
    position: absolute;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    margin: -1px 0px 0px -16px;
    padding: 0px;
}
.dropdown-content li {
    display: block;
}
.dropdown-container:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    margin: 0px;
    padding: 0px 15px;
}
.nav-list li:hover, .dropdown-container:hover .dropbtn {
    background-color: rgba(165, 0, 0, 0.5);
}
.mega-menu a:focus, .sub-menu a:focus {
    color: #ffffff;
    text-decoration: none;
}
.navbar .mega-menu, .nav-menu {
    position: relative;
    height: 57px;
    line-height: 57px;
    white-space: nowrap;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 450ms cubic-bezier(0.5,1.65,0.4,1.19);
    -moz-transition: all 450ms cubic-bezier(0.5,1.65,0.4,1.19);
    -o-transition: all 450ms cubic-bezier(0.5,1.65,0.4,1.19);
    transition: all 450ms cubic-bezier(0.5,1.65,0.4,1.19);
}
.navbar .mega-menu {
    min-width: 115px;
}
.navbar .mega-menu:first-child {
    position: relative;
    top: -50px;
    height: 120px;
    background-color: rgb(119, 4, 4);
    border: 2px solid #ffffff;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px #ffffff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar .mega-menu:first-child:hover {
    top: -20px !important;
}
.navbar .mega-menu:first-child a {
    position: relative;
    top: 50px;
}
.navbar .nav-menu .hamburger {
    float: right;
}
.navbar .nav-menu .mobile-rsvp {
    float: left;
    background-color: rgb(119, 4, 4);
    border: 2px solid #ffffff;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0px 20px;
}
nav .menu-container {
    position: relative;
    display: inline-block;
    width: 70px;
}
.nav-menu .sidebar-menu {
    display: none;
}
.nav-menu .sub-menu {
    padding: 5px 25px;
    height: 30px;
}
.sub-menu a {
    position: relative;
    top: -15px;
}
@media (min-width: 992px) { 
    .nav-menu .nav-list {
        display: inline-block;
    }
    .nav-menu .menu, .menu .sidebar-menu {
        display: none;
        border: none;
        width: 0px;
    }
}
@media (max-width: 991px) { 
    .nav-main .nav-list {
        display: none;
    }
    .nav-menu .menu, .sidebar-menu {
        display: block;
    }
    .nav-menu .sub-menu {
        padding: 30px;
    }
    .sub-menu a {
        top: -30px;
    }
}